# Virtual Environment
venv/
env/
.env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.env.local

# Logs
*.log

# Large model files and data
*.gguf
*.bin
lora_model/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo 

# Docs
docs/
docs/deploy-to-do.md

# Digital Ocean-Specific
deploy.sh
snapshot-manager.sh